/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 */
#pattern{
    background-image: url(img/pattern.png);
    background-repeat:repeat-x;
    background-color:#6495ED; 	/* guarda bene le immagini */
    background-size: 450px 225px;
   
}
#logo{
    height: 60px;
    margin-top: 50px;   /* ricordati bene che la dimensione del contenitore dipende da qua */
    margin-left: 20px;
}

#title{
   font-size: 50px;
   margin-bottom: 0;
}


#by{
    color: gray;
    margin:0;
    font-size: 20px;
    padding-top: 0;
}

#blue{
    color:dodgerblue
}

#data{
    color: gray;
    padding-bottom: 15px;
    font-size: 10px;
    margin: 0px;
}

#descrphoto{
    font-size: 10px;
}

.setp{
    margin-top: 30px;
}

.yellow{
    background-color: yellow;
}

#list{
    margin-top: 20px;
    padding-left: 10px;
}

table, tr, td, th{
    border: none;
    }

#table{
    margin-top: 20px;
    border:none;
    border-spacing: 0;
}

#head{
    background-color:#1E90FF;
    color: white;
    margin: 0;
}

td, th{
    width: 600px;
}

.azzurro{
    background-color: #87CEFA;
}

#pgray{
    margin-top: 40px;
    color: gray;
}

#photo1{
    background-image: url(img/monitor.jpg);
    background-size: 312px 208px;
    width: 312px;
    height: 208px;
}

#photo2{
    background-image: url(img/graph.jpg);
    background-size: 311px 207px;
    width: 311px;
    height: 207px;
}

.pfoto{
    text-align: center;
    font-size: 24px;
    color: white;
    padding-top: 10px;
}

footer{
    text-align: center;
    font-size: 10px;
}