*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pattern{
    background-image: url(img/pattern.png);
    background-repeat:repeat-x;
    background-color:#6495ED; 	
    background-size: 300px 150px;
   
}
#logo{
    height: 40px;
    margin-top: 30px;
    margin-left: 10px;
}

#title{
    height: 80px;
    width: 100%;
}

#blue{
    color:dodgerblue
}

#data{
    color: gray;
    
}

#by{
    color: gray;
}

.setp{
    margin-top: 30px;
}

.yellow{
    background-color: yellow;
}

#list{
    margin-top: 20px;
}


#table{
    margin-top: 20px;
}

#head{
    background-color: cyan;
    color: white;
    margin: 0;
}

td, th{
    width: 600px;
}

.azzurro{
    background-color: #6495ED;
}